best.pth
data/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv
data/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv
data/Friday-WorkingHours-Morning.pcap_ISCX.csv
data/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv
data/Wednesday-workingHours.pcap_ISCX.csv
data/Tuesday-WorkingHours.pcap_ISCX.csv
data/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv
data/Monday-WorkingHours.pcap_ISCX.csv
